#import-warning table{
  width:100%;
  background: #FFFFFF;
  margin-bottom: 1.25rem;
  border: solid 1px #DDDDDD;
  border-spacing: 2px;
}

#import-warning table thead {
  background: #EEEEEE;
}
#import-warning table thead th,
#import-warning table tbody td{
  padding: 10px;
  text-align: left;
  font-size: 12px;
  color: #222222;
  line-height: 1.125rem;
  display: table-cell;
}

#import-warning table thead th{
	text-transform: capitalize;
  font-weight: 700;
  
}

#import-warning table tbody tr:nth-child(even){
  background: #EEEEEE;
}

#import-warning table tbody td{
  display: table-cell;
}
