.form__group{
  .newsletter & {
    position: relative;
    padding: 0px;
    margin-bottom: 0px;
  }
}

.form__control {
  .newsletter & {
    background-color: $white;
    border-color: $white;
  }

  .newsletter &:focus{
    border-color: $medium-grey;
  }
}

.newsletter input[type="text"]::placeholder, 
.newsletter .form__control::placeholder {
  color: $charcoal;
}
#newsletter-email {
  // padding: 0 170px 0 30px;
  font-size: 16px;
  line-height: 24px;
  color: $charcoal;
  border-bottom: 1px solid $charcoal;
  border-top: none;
  border-left: none;
  border-right: none;
  background-color: transparent;
  opacity: 0.8;
  margin-bottom: 20px;
  font-family: $secondary-font;
}

.newsletter__warning {
  color: $base-color !important;
}

.newsletter__success {
  color: $white !important;
}