// -----------------------------------------------------------------------------
// This file contains all styles related to the button component.
// -----------------------------------------------------------------------------
[href],
[type="button"],
[type="submit"],
button {
  cursor: pointer;  
}

.btn--after {
  &::after {
    content: none !important;
  }
}

.btn--person-after {
  &::after {
    mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='24' viewBox='0 0 20 24' fill='none'>
  <path d='M17.8441 22.5333C17.8441 20.759 16.8509 19.0733 15.2847 17.8001C13.7194 16.5276 11.6782 15.7523 9.78851 15.7523C7.89889 15.7524 5.85759 16.5276 4.29228 17.8001C2.7262 19.0733 1.73333 20.759 1.73333 22.5333C1.73333 23.012 1.34531 23.4 0.866667 23.4C0.38802 23.4 0 23.012 0 22.5333C1.72316e-07 20.0892 1.35861 17.9508 3.1988 16.4548C5.03977 14.9582 7.45965 14.019 9.78851 14.019C12.1173 14.019 14.5372 14.9582 16.3782 16.4548C18.2184 17.9508 19.5774 20.0892 19.5774 22.5333C19.5774 23.0119 19.1894 23.3999 18.7108 23.4C18.2321 23.4 17.8441 23.012 17.8441 22.5333ZM14.0203 5.96468C14.0203 4.84251 13.5743 3.76634 12.7808 2.97282C11.9872 2.17927 10.9108 1.73333 9.78851 1.73333C8.66631 1.73337 7.59016 2.1793 6.79665 2.97282C6.00313 3.76634 5.55719 4.84248 5.55716 5.96468C5.55716 7.08693 6.0031 8.16342 6.79665 8.95697C7.59015 9.75042 8.66636 10.196 9.78851 10.196C10.9107 10.196 11.9872 9.7505 12.7808 8.95697C13.5743 8.16342 14.0203 7.08693 14.0203 5.96468ZM15.7536 5.96468C15.7536 7.54664 15.1249 9.06388 14.0063 10.1825C12.8877 11.3011 11.3705 11.9294 9.78851 11.9294C8.20665 11.9293 6.6897 11.301 5.57113 10.1825C4.45251 9.06388 3.82383 7.54664 3.82383 5.96468C3.82385 4.38276 4.45254 2.86547 5.57113 1.74688C6.68969 0.628414 8.20669 3.70101e-05 9.78851 0C11.3704 0 12.8877 0.628336 14.0063 1.74688C15.1249 2.86546 15.7536 4.38276 15.7536 5.96468Z' fill='white'/>
</svg>") no-repeat center / contain !important;
  }
}

.btn, .btn--primary,
button.btn, button.btn--primary,
.main__content .btn, .main__content .btn--primary {
  min-width: 140px;
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 24px;
  font-weight: $font-regular;
  background-color: $primary-color;
  letter-spacing: 1.6px;
  color: $white;
  text-transform: uppercase;
  border: 0px;
  padding: 9px 30px;
  border: 2px solid $primary-color;
  border-radius: 2px;
  position: relative;
  // &::after {
  //   content: "";
  //   display: inline-block;
  //   vertical-align: sub;
  //   margin-left: 10px;
  //   width: 22px;
  //   height: 22px;
  //   background-color: $white;
  //   mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='22' height='22' viewBox='0 0 22 22' fill='currentColor'>
  //   <path d='M17.8032 1.96359C17.4137 2.28752 17.0241 2.61583 16.6345 2.93539C16.2361 3.2637 15.8378 3.59201 15.4394 3.92032C15.133 4.17422 14.8266 4.43249 14.5158 4.67763C14.4588 4.72141 14.3582 4.74329 14.2837 4.73016C12.3095 4.38434 10.3353 4.03414 8.361 3.68394C6.91643 3.43005 5.47186 3.18053 4.03167 2.92663C3.89597 2.90475 3.79966 2.92663 3.69898 3.01418C3.13866 3.49571 2.57834 3.96848 2.01802 4.45C1.91734 4.53755 1.81666 4.62948 1.68533 4.74767C4.63576 6.10031 7.5643 7.43983 10.5235 8.79685C10.3834 8.96757 10.2652 9.10327 10.1514 9.24773C9.73991 9.75114 9.32843 10.2589 8.91695 10.7623C8.48795 11.2833 8.05458 11.8042 7.62559 12.3251C7.20535 12.8416 6.78949 13.3626 6.36487 13.8747C5.90961 14.4263 5.44997 14.9691 4.99472 15.5163C4.91592 15.6126 4.83713 15.6476 4.71456 15.5951C4.40375 15.4638 4.09295 15.3368 3.77777 15.2099C3.07737 14.9253 2.37698 14.6452 1.68096 14.3606C1.58027 14.3212 1.51461 14.3388 1.44457 14.4132C1.2826 14.5839 1.11626 14.7502 0.949915 14.9122C0.665378 15.1967 0.284537 15.5732 0 15.8577C0 15.8577 3.82155 17.7444 3.87408 17.7926C3.92223 17.8407 5.80893 21.6667 5.80893 21.6667C6.09347 21.3821 6.46993 21.0013 6.75447 20.7168C6.92081 20.5504 7.08715 20.3841 7.2535 20.2221C7.32792 20.1521 7.3498 20.0864 7.30603 19.9857C7.02149 19.2897 6.74133 18.5849 6.4568 17.8889C6.32985 17.5737 6.2029 17.2629 6.07158 16.9521C6.01905 16.8339 6.05407 16.7507 6.15037 16.672C6.70194 16.2167 7.24474 15.7571 7.79193 15.3018C8.3041 14.8772 8.82502 14.4657 9.34156 14.0411C9.86248 13.6121 10.3834 13.1787 10.9043 12.7497C11.4077 12.3382 11.9155 11.9268 12.4189 11.5153C12.559 11.4015 12.6991 11.2833 12.8698 11.1432C14.2268 14.1024 15.5664 17.0309 16.919 19.9813C17.0372 19.85 17.1335 19.7537 17.2167 19.6486C17.6938 19.0883 18.171 18.5236 18.6525 17.9677C18.74 17.867 18.7663 17.7663 18.74 17.635C18.4861 16.1904 18.2366 14.7502 17.9827 13.3057C17.6369 11.3314 17.2823 9.35717 16.9365 7.38292C16.9234 7.3085 16.9453 7.20782 16.989 7.15091C17.2342 6.83573 17.4924 6.53369 17.7463 6.22726C18.0747 5.82891 18.403 5.43056 18.7313 5.03221C19.0552 4.64261 19.3791 4.25301 19.7031 3.86342C21.0338 2.27877 22.1019 0.842949 21.4541 0.19508C20.8062 -0.452788 19.3704 0.610942 17.7857 1.94608'/>
  //   </svg>") no-repeat center / contain;
  // }
  &:hover, &:active, &:focus{
    color: $white;
    background-color: $primary-color-light;
    border: 2px solid $primary-color-light;
    box-shadow: none;
  }
  @media screen and (max-width: 768px) {
    min-width: 100px;
  }
}

.footer_btn {
  &:hover, &:active {
    color: $primary-color;
    background-color: $white;
    border: 2px solid $white;
  }
}

.btn--tertiary,
button.btn--tertiary,
.main__content .btn--tertiary {
  color: $primary-color;
  border: 2px solid transparent;
  border-bottom: 3px solid $secondary-color;
  background-color: transparent;
  padding: 16px 10px;
  min-width: auto;
  // &::after {
  //   background-color: $primary-color;
  //   mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='currentColor'>
  //   <path d='M23.0412 11.0996L19.547 7.56932C19.4631 7.48469 19.3632 7.41752 19.2532 7.37168C19.1432 7.32585 19.0252 7.30225 18.906 7.30225C18.7868 7.30225 18.6688 7.32585 18.5588 7.37168C18.4487 7.41752 18.3489 7.48469 18.265 7.56932C18.0968 7.73848 18.0024 7.96732 18.0024 8.20584C18.0024 8.44437 18.0968 8.67321 18.265 8.84237L21.4792 12.0837H3.06953C2.83008 12.0837 2.60043 12.1788 2.4311 12.3481C2.26178 12.5175 2.16666 12.7471 2.16666 12.9866V12.9866C2.16666 13.226 2.26178 13.4557 2.4311 13.625C2.60043 13.7943 2.83008 13.8895 3.06953 13.8895H21.5334L18.265 17.1488C18.1803 17.2328 18.1132 17.3326 18.0673 17.4427C18.0215 17.5527 17.9979 17.6707 17.9979 17.7899C17.9979 17.9091 18.0215 18.0271 18.0673 18.1371C18.1132 18.2471 18.1803 18.347 18.265 18.4309C18.3489 18.5156 18.4487 18.5827 18.5588 18.6286C18.6688 18.6744 18.7868 18.698 18.906 18.698C19.0252 18.698 19.1432 18.6744 19.2532 18.6286C19.3632 18.5827 19.4631 18.5156 19.547 18.4309L23.0412 14.9278C23.5484 14.4199 23.8333 13.7315 23.8333 13.0137C23.8333 12.2959 23.5484 11.6074 23.0412 11.0996Z' fill='currentColor'/>
  //   </svg>") no-repeat center / contain;
  // }
  &:hover {
    border: 2px solid transparent;
    border-bottom: 3px solid $secondary-color-light;
    background-color: transparent;
    color: $secondary-color-dark;
    &::after {
      background-color: $secondary-color-light;
    }
  }
}

.btn--secondary,
button.btn--secondary,
.main__content .btn--secondary {
  background-color: $secondary-color;
  border:2px solid $secondary-color;
  &:hover {
    color: $white;
    background-color: $secondary-color-dark;
    border:2px solid $secondary-color-dark;
  }
}

.btn__link,
button.btn__link {
  color: $primary-color;
  font-weight: $font-bold ;
  text-transform: uppercase;
  border: none;
  &:hover, &:active {
    color: $primary-color-dark;
  }
}

.btn--ghost,
button.btn--ghost,
.main__content .btn--ghost {
  background-color: transparent;
  color: $primary-color;
  border:2px solid $primary-color;
  &.btn--secondary {
    color: $secondary-color;
    border:2px solid $secondary-color;
    &::after {
      background-color: $secondary-color;
    }
    &:hover, &:focus{
      border:2px solid  $secondary-color-dark;
      color: $secondary-color-dark;
      &::after {
        background-color: $secondary-color-dark;
      }
    }
  }
  // &::after {
  //   background-color: $primary-color;
  //   mask: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='26' height='26' viewBox='0 0 26 26' fill='currentColor'>
  //   <path d='M23.0412 11.0996L19.547 7.56932C19.4631 7.48469 19.3632 7.41752 19.2532 7.37168C19.1432 7.32585 19.0252 7.30225 18.906 7.30225C18.7868 7.30225 18.6688 7.32585 18.5588 7.37168C18.4487 7.41752 18.3489 7.48469 18.265 7.56932C18.0968 7.73848 18.0024 7.96732 18.0024 8.20584C18.0024 8.44437 18.0968 8.67321 18.265 8.84237L21.4792 12.0837H3.06953C2.83008 12.0837 2.60043 12.1788 2.4311 12.3481C2.26178 12.5175 2.16666 12.7471 2.16666 12.9866V12.9866C2.16666 13.226 2.26178 13.4557 2.4311 13.625C2.60043 13.7943 2.83008 13.8895 3.06953 13.8895H21.5334L18.265 17.1488C18.1803 17.2328 18.1132 17.3326 18.0673 17.4427C18.0215 17.5527 17.9979 17.6707 17.9979 17.7899C17.9979 17.9091 18.0215 18.0271 18.0673 18.1371C18.1132 18.2471 18.1803 18.347 18.265 18.4309C18.3489 18.5156 18.4487 18.5827 18.5588 18.6286C18.6688 18.6744 18.7868 18.698 18.906 18.698C19.0252 18.698 19.1432 18.6744 19.2532 18.6286C19.3632 18.5827 19.4631 18.5156 19.547 18.4309L23.0412 14.9278C23.5484 14.4199 23.8333 13.7315 23.8333 13.0137C23.8333 12.2959 23.5484 11.6074 23.0412 11.0996Z' fill='currentColor'/>
  //   </svg>") no-repeat center / contain;
  // }
  &:hover, &:focus{
    border:2px solid  $primary-color-light;
    background-color:  transparent;
    color: $primary-color-light;
    &::after {
      background-color: $primary-color-light;
    }
  }
}

.btn--white,
button.btn--white {
  background-color: $white;
  color: $primary-color;
  border:2px solid $white;
  &:hover{
    color: $white;
    border:2px solid $primary-color-dark;
    background-color: $primary-color-dark;
  }
}

.btn--ghost-white,
button.btn--ghost-white {
  background-color: transparent;
  color: $white;
  border:2px solid $white;
  opacity: 0.75;
  &:hover{
    background-color: transparent;
    border:2px solid $white;
    opacity: 1;
  }
}

.btn--sm{
  min-width: 140px;
}

.card__cta .btn {
  min-width: 100px;
}

.btn--form {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .btn,
  .link {
    font-size: 18px;
  }
  
  .link--sm {
    font-size: 16px;
  }
  .btn--sm{
    min-width: 125px;
    // font-size: 14px;
    // line-height: 16px;
    // padding: 5px 10px;
  }
  
}

.btn--link,
button.btn--link,
.main__content .btn--link {
  background-color: transparent;
  color: $primary-color;
  border: none;
  text-decoration: underline;
  font-weight: bold;
  padding: 0;
  font-size: 17px;
  text-transform: capitalize;
  letter-spacing: 0px;
  line-height: 20px;
  &:hover, &:active, &:focus {
    background-color: transparent;
    color: $primary-color-dark;
    border: none;
  }
}


.CheckInPersonWidget .toggle-check-availability {
  font-size: 17px !important;
  font-family: $secondary-font !important;
  background-color: $primary-color !important;
  color: #ffffff !important;
  letter-spacing: 0px !important;
  border-radius: 70px !important;
  width: 140px !important;
  font-weight: $font-semi-bold !important;
  padding-right: 35px !important;
  @media screen and (max-width: 768px) {
    border-radius: 0 !important;
    width: 95px !important;
  }
}
.CheckInPersonWidget .check-availability-page .toggle-check-availability  {
  &:hover, &:active, &:focus {
    background-color: $base-color !important;
    border-color: $base-color;
  }
}
.book-btn-arrow {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(-50%);
  @media screen and (max-width: 768px) {
    right: 10px;
  }
}
.CheckInPersonWidget .toggle-check-availability:hover {
  background-color: $primary-color !important;
  color: #ffffff !important;
}

.CheckInPersonWidget .booking-engine .check-availability-sidebar .btn.close-btn.close-check-availability {
  background-color: $base-color !important;
  border-color: $base-color !important;;
}

.CheckInPersonWidget .booking-engine .check-availability-sidebar .btn.w-100 {
  background-color: $primary-color !important;
  border-color: $primary-color !important;;
  &:hover, &:active, &:focus {
    background-color: $base-color !important;
    border-color: $base-color !important;;
  }
}

@media screen and (max-width: 768px) {
  .CheckInPersonWidget .booking-engine .btn {
      height: 60px !important;
      line-height: 60px;
      // padding: 0px 25px  !important;
  }

  .show-check-availability .CheckInPersonWidget .booking-engine .check-availability-sidebar{
    right: 20px !important;
  }
  .CheckInPersonWidget .booking-engine .check-availability-sidebar .close-btn{
    background-color: #464646E6 !important;
    width: 100%  !important;
    height: 40px  !important;
    line-height: 40px !important;
    img {
      width: 12px;
      height: 12px;
      position: absolute;
      top: 20px;
      right: 10px;
    }
  }

  

  .select-date-block{
    margin-top: 25px !important;
  }
  .closenbk-btn{
    color: white;
    padding-right: 5px;
    font-size: 14px;
    display: flex;
    justify-content: end;
    align-items: center;
    text-transform: capitalize;
    padding-right: 15px;
  }
  .CheckInPersonWidget .booking-engine .check-availability-sidebar .btn {
    height: 50px !important;
    line-height: 50px !important;
    // background-color: $primary-color !important;
  }
  .CheckInPersonWidget .booking-engine .select-date-block li .count-increment .increment-up{
    img {
      padding-bottom: 25px;
    }
  }
  .CheckInPersonWidget .booking-engine .select-date-block li .count-increment .increment-down{
    img {
      padding-bottom: 25px;
    }
  }
  .CheckInPersonWidget .booking-engine .select-date-block li .count-increment .increment-up{
    padding: 0 !important;
    // display: none;
  }
  .CheckInPersonWidget .booking-engine .select-date-block li .count-increment .increment-down{
    padding: 0 !important;
    // display: none;
  }
}
@media screen and (max-width: 767px) {
  .CheckInPersonWidget .booking-engine .check-availability-sidebar{
    right: -375px !important;
    padding: 4px 20px 20px !important;
  }
}

.custom-dropdown {
  position: relative;
  display: inline-block;
  width: 100%;
}

.custom-dropdown i {
  position: absolute;
  top: 50%;
  right: 5px; /* Adjust the positioning as needed */
  transform: translateY(-50%);
  pointer-events: none;
}

.custom-dropdown select {
  padding-right: 25px; /* Adjust the padding value as needed */
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.custom-dropdown select::-ms-expand {
  display: none;
}

.inspireButtonPrimary{
  min-width: 140px;
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 32px;
  font-weight: $font-bold;
  background-color: $primary-color;
  letter-spacing: 0px;
  color: $white;
  text-transform: uppercase;
  border-radius: 0;
  border: 0px;
  padding: 8px 25px;
  border: 2px solid $primary-color;
  border-radius: 70px;
  position: relative;
  padding-right: 35px;
  color: $white !important;
  text-decoration: none !important;
  &:hover{
    color: $white;
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-dark;
  }
  &:active, &:focus {
    color: $white;
    background-color: $primary-color-dark;
    border: 2px solid $primary-color-dark;
  }
  @media screen and (max-width: 768px) {
    min-width: 100px;
  }
}


.inspireButtonSecondary {
  background-color: transparent !important;
  color: $primary-color;
  border: 2px solid $primary-color !important;
  min-width: 140px;
  text-decoration: none;
  font-family: $secondary-font;
  font-size: 16px;
  line-height: 32px;
  font-weight: $font-bold;
  background-color: $primary-color;
  letter-spacing: 0px;
  text-transform: uppercase;
  border-radius: 0;
  padding: 8px 25px;
  border-radius: 70px;
  position: relative;
  padding-right: 35px;
  color: $primary-color !important;
  text-decoration: none !important;
  &:hover{
    color: $white !important;
    background-color: $primary-color !important;
    border:2px solid $primary-color !important;
  }
  &:active, &:focus {
    color: $white;
    background-color: $primary-color;
    border: 2px solid $primary-color;
  }
  @media screen and (max-width: 768px) {
    min-width: 100px;
  }
}