.footer {
  padding: 0;
  position: relative;
  // border-top: 6px solid $primary-color;
}
.section__footer{
  background-color: #EAF5FA;
}
.section__credit,
.section__footer{
  padding-bottom: 50px;
  padding-top: 50px;

}
.section__credit{
  background: $white 0% 0% no-repeat padding-box;
  opacity: 1;
}
.footer__content {
  margin-bottom: 30px;
  color: $black;
  // text-align: center;
}

.footer__text {
  text-align: left;
  margin-bottom: 10px;
  margin-top: 0;
  color: $footer-text-color;
  font-size: 16px;
  line-height: 24px;
  p {
    color: inherit;
  }
  // @media (min-width: 768px) and (max-width: 991px) {
  //   text-align:center;
  // }
  a {
    position: relative;
    font-family: $secondary-font;
    font-weight: $font-regular;
    
    &:hover {
      opacity: 1;
    }

    &:before {
      display: block;
      font-family: $fontAwesomeSolid;
      font-weight: $font-bold;
      position: absolute;
      left: 0;
      top: 0px;
      font-size: 25px;
      line-height: 30px;
      vertical-align: middle;
    }
  }

  // .footer__text--mail {
  //   &:before {
  //     content: '\f0e0';
  //     vertical-align: middle;
  //   }
  // }

  .footer__text--phone {
    margin-right: 10px;
    &:first-child {
      margin-right: 0;
    }    

    // &:before {
    //   content: '\f095';
    //   vertical-align: middle;
    //   transform: rotate(94deg);
    // }
  }

  .footer__text--mail {
    display: block;
    font-weight: 500;
    text-decoration: underline;
  }

}

.footer__copyright-credits {
  color: $charcoal;
  span {
    font-size: 16px;
    line-height: 24px;
  }
  a {
    color: $primary-color;
    text-decoration: underline;
  }
  .footer_icon {
    display: inline-block;
    text-align: center;
    width: 80px;
    height: 20px;
    vertical-align: middle;
  }
}

// .footer-navigation {
//   margin: 10px 0 15px;
//   // text-align: center
// }

.footer__heading {
  // font-family: $base-font;
  font-size: 34px;
  line-height: 42px;
  color: $footer-title-color;
  letter-spacing: 0px;
  opacity: 1;
  padding-bottom: 10px;
  text-transform: capitalize;
  text-align: left;

  &:before {
    content: '';
    border-bottom: none;
    width: 60px;
    margin: 0;
  }
}

.footer-navigation__item {
  display: block;
  position: relative;

  a {
    font-family: $secondary-font;
    display: block;
    padding: 5px 0;
    text-transform: capitalize;
    color: $charcoal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    opacity: 1;

    &:hover {
      color: $primary-color;
    }
  }
} 

.footer__credits {
  text-align: center;
  a {
    font-weight: $font-semi-bold;
    &:hover {
      border-bottom: 1px solid $primary-color;
    }
  }
}

// #newsletter-btn {
//   font-family: $secondary-font;
//   position: absolute;
//   top: 0;
//   right: 0;
//   background: $primary-color;
//   border: none;
//   width: 160px;
//   bottom: 0;
//   outline-style: none;
//   color: $white;
//   font-size: 16px;
//   padding: 8px 25px;
//   text-transform: uppercase;
//   font-weight: $font-bold;
//   opacity: 1;
//   border-radius: 70px;

//   &:hover {
//     color: $primary-color;
//     background: $white;
//     opacity: 1;
//     border: 1px solid $white;
//     .btn-arrow-icon path {
//       fill: $primary-color;
//     }
//   }

//   &:active {
//     background: $white;
//     color: $primary-color;
//     opacity: 1;
//   }
// }
.footer_shortdesc {
  margin-top: 21px;
  margin-bottom: 33px;
}
.contacts {
  margin-top: 21px;
}
@media screen and (max-width: 991px) {

  .footer__content {
    // text-align: center;
    padding: 0 17px;
    margin-bottom: 0;

    .footer_shortdesc {
      display: inline-block;
      text-align: center;
    }
  }

  .footer__text {
    a {
      display: inline-block;
    }
  }

  .footer__item {
    margin-bottom: 30px;

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  #newsletter-email {
    width: 100%;
  }

  // #newsletter-btn {
  //   position: relative !important;
  //   margin-top: 10px;
  //   padding: 11px 10px;
  //   width: 100% !important;
  // }

  .footer__bottom-container {
    display: flex;
    flex-direction: column;
  }

  .footer__row--credit {
    order: 3;
  }

  .footer__copyright-credits {
    width: 100%;
    margin: 10px auto !important;
    // text-align: center;
  }

  .footer__copyright-credits--copyright,
  .footer__copyright-credits--credits {
    display: block;
  }

  .footer-navigation__item {
    // text-align: center;
    a {
      padding: 3px 0;
    }
    
  }
  .footer__heading {
    font-size: 26px;
    line-height: 30px;   
  }

}

@media screen and (min-width: 992px) {
  .footer__content {
    margin-bottom: 0;
    text-align: left;
  }

  // .footer-navigation {
  //   margin: 15px 0 15px;
  // }
  
  .footer-navigation__item {
    display: inline-block;
    padding: 0 20px 0 0;
    &:nth-child(5),&:nth-child(6) {
      padding: 0;
    }
    &:first-child{
      padding-left: 0;
    }
    
    a {
      display: block;
      
      
    }
  
    &:last-child {
      &:after {
        display: none;
      }
    }
  }

  
.footer__item:only-child {
  .footer__content{
    text-align: center !important;
  }
}

}

// @media screen and (min-width: 769px) {
//   .footer__heading {
//     margin-top: 10px;
//   }
// }

.phone-container {
  display: flex;
  align-items: center;
  justify-content: left;
  // @media (max-width: 768px){
  //   justify-content: center;
  // }

  // @media (min-width: 768px) and (max-width: 991px) {
  //   justify-content: center;

  // }
}