<!DOCTYPE html>
<html class="no-js" lang="==lang_iso_code==" xml:lang="==lang_iso_code==">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>==title==</title>
    <meta name="description" content="==meta_description==">
    ==page_canonical_tag==
    ==robots_meta_tag==
    ==ex_meta_tags==
    <meta name="author" content="==company_name==">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1, maximum-scale=6, minimum-scale=1.0, user-scalable=1">
    <meta http-equiv="cleartype" content="on">

    <meta property="og:title" content="==og_title==" />
    <meta property="og:type" content="Open Graph type" />
    <meta property="og:description" content="==og_meta_description==" />
    <meta property="og:url" content="==og_url==" />
    <meta property="og:image" content="==og_image==" />
    <meta property="og:site_name" content="==company_name==" />

    <link rel="apple-touch-icon" sizes="180x180" href="==favicon_apple_touch_path==">
    <link rel="icon" type="image/png" href="==favicon_32x32_path==" sizes="32x32">
    <link rel="icon" type="image/png" href="==favicon_path==" sizes="16x16">
    
    <meta name="theme-color" content="#ffffff">
    
    <link as="style" rel="stylesheet preload prefetch" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" type="text/css" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="/assets/fonts/typography/Montserrat/Montserrat.css">
    <link rel="stylesheet" type="text/css" href="/assets/fonts/typography/Belleza/Belleza.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/content-styles.css">

    <link as="style" rel="stylesheet preload prefetch" href="==css_path==" type="text/css" >

    
    <script src="==modernizr_path=="></script>
    
    ==js_code_head_close==
    ==structure_data_markup==
    ==adwords_code==
    ==gtm_code_head_close==

  </head>

  <body class="==body_cls==">
    ==gtm_code_body_open==
    ==js_code_body_open==
    <header id="header" class="header header--animate ==headerCls==">
      <div class="container-fluid container-fluid--fw header__container d-lg-flex">
        <div class="header__upper">
        <div class="header__nav-toggle">  
            <a href="#menu" class="mobile__btn">
             <!--  <i class="fa fa-bars mobile__btn__icon"></i> -->
              <div class="mobile__btnheader">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27" height="24" viewBox="0 0 27 24">
                      <g id="Group_3111" data-name="Group 3111" transform="translate(-123 -104)">
                          <g id="ic-actions-menu" transform="translate(124 105)">
                              <line id="Line_555" data-name="Line 555" x2="25" transform="translate(0 11)" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              <line id="Line_556" data-name="Line 556" x2="25" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              <line id="Line_557" data-name="Line 557" x2="25" transform="translate(0 22)" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                          </g>
                      </g>
                  </svg>
              </div>
              <div class="mobile__btncross">
                  <svg xmlns="http://www.w3.org/2000/svg" width="27.823" height="24.823" viewBox="0 0 27.823 24.823">
                      <g id="Group_2926" data-name="Group 2926" transform="translate(-122.589 -103.589)">
                          <g id="ic-actions-menu" transform="translate(124 105)">
                              <line id="Line_556" data-name="Line 556" x2="25" y2="22" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                              <line id="Line_557" data-name="Line 557" y1="22" x2="25" fill="none" stroke="white" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                          </g>
                      </g>
                  </svg>
              </div>
            </a>
          </div>
          <a href="==home_url==" class="header__logo">
            <img src="==template_logo_path==" alt="==company_name==" class="header__logo__img" width="100%" height="100%">
          </a>
        </div>
        ==phone_icon==
        ==m_booking__btn==
        <div class="justify-content-lg-center">
          <nav class="header__nav" id="menu">
            ==header_nav==
          </nav>
        </div>
        <div class="book-btn pl-xl-3">==book_btn==</div>
      </div>  
    </header>
    <!-- /#header -->
    ==banner_view==
    ==booking_view==
    ==resbook_calendar_slider_view==
    ==resbook_calendar_form_view==
    <main id="main" class="main">
      ==page_main_content==
      ==accommodation_view==
      ==contact_details==
      ==page_content==
      ==page_features_view==
      ==page_banner_view==
      
      ==accommodation_book_view==
      ==featured_highlight==
      ==gallery_filter_view==
      ==mod_view==
      
      ==content==
      
      ==more_option_view==
      ==quicklinks_view==
      ==page_cta==
      ==footer_review==
      ==custom_code== 
      <!-- /#main -->
      ==instagram_view==
      ==partner_view==
    </main>
    <!-- /.panels -->
    <footer class="footer">
      <section class="section section__footer" id="section__footer">
        <div class="container-fluid container-fluid--fw">
          <div class="row justify-content-center d-flex justify-content-between align-items-start">
            ==contact-widget==
            ==social_links==
            ==newsletter_view==
          </div>
        </div>
         <!-- /.container-fluid -->
      </section>
      <section class="section section__credit pt-4 pb-4">
        <div class="container-fluid container-fluid--fw footer__bottom-container">
          <div class="row footer__row--credit d-flex justify-content-between align-items-center">
            <div class="col-lg-6 col-12 text-left">
              ==footer_nav==
            </div>
            <div class="col-lg-6 col-12 text-lg-right">
              <p class="footer__copyright-credits m-0">
                <span class="footer__copyright-credits--copyright">==copyright==</span>
                <span class="footer__copyright-credits--credits">==credits==</span>
              </p>
            </div>
          </div>
        </div>
      </section>

    </footer>
    <!-- /.footer -->
    ==body_html== ==scripts_load_top== ==js_vars==
    <script src="==vender_js_path=="></script>
    ==script_ext==
    <script src="==js_path==" onload="app.init();"></script>
    ==js_code_body_close==
    <script>

      window.addEventListener("DOMContentLoaded", function () {
        var lazyloadImages;

            if ("IntersectionObserver" in window) {
                lazyloadImages = document.querySelectorAll(".lazy");
                var imageObserver = new IntersectionObserver(function (entries, observer) {
                    entries.forEach(function (entry) {
                        if (entry.isIntersecting) {
                            var image = entry.target;
                            image.src = image.dataset.src;
                            image.classList.remove("lazy");
                            imageObserver.unobserve(image);
                        }
                    });
                });

                lazyloadImages.forEach(function (image) {
                    imageObserver.observe(image);
                });
            } else {
                var lazyloadThrottleTimeout;
                lazyloadImages = document.querySelectorAll(".lazy");

                function lazyload() {
                    if (lazyloadThrottleTimeout) {
                        clearTimeout(lazyloadThrottleTimeout);
                    }

                    lazyloadThrottleTimeout = setTimeout(function () {
                        var scrollTop = window.pageYOffset;
                        lazyloadImages.forEach(function (img) {
                            if (img.offsetTop < (window.innerHeight + scrollTop)) {
                                img.src = img.dataset.src;
                                img.classList.remove('lazy');
                            }
                        });
                        if (lazyloadImages.length == 0) {
                            document.removeEventListener("scroll", lazyload);
                            window.removeEventListener("resize", lazyload);
                            window.removeEventListener("orientationChange", lazyload);
                        }
                    }, 20);
                }

                document.addEventListener("scroll", lazyload);
                window.addEventListener("resize", lazyload);
                window.addEventListener("orientationChange", lazyload);
            }
        });
    </script>
  </body>
</html>