/** =================== Barlow =================== **/

/** Barlow Thin **/
@font-face {
    font-family: "Barlow";
    font-weight: 100;
    font-style: normal;
    src: url("Barlow-Thin.woff2") format("woff2"),
         url("Barlow-Thin.woff") format("woff");
}

/** Barlow Thin-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 100;
    font-style: italic;
    src: url("Barlow-ThinItalic.woff2") format("woff2"),
         url("Barlow-ThinItalic.woff") format("woff");
}

/** Barlow ExtraLight **/
@font-face {
    font-family: "Barlow";
    font-weight: 200;
    font-style: normal;
    src: url("Barlow-ExtraLight.woff2") format("woff2"),
         url("Barlow-ExtraLight.woff") format("woff");
}

/** Barlow ExtraLight-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 200;
    font-style: italic;
    src: url("Barlow-ExtraLightItalic.woff2") format("woff2"),
         url("Barlow-ExtraLightItalic.woff") format("woff");
}

/** Barlow Light **/
@font-face {
    font-family: "Barlow";
    font-weight: 300;
    font-style: normal;
    src: url("Barlow-Light.woff2") format("woff2"),
         url("Barlow-Light.woff") format("woff");
}

/** Barlow Light-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 300;
    font-style: italic;
    src: url("Barlow-LightItalic.woff2") format("woff2"),
         url("Barlow-LightItalic.woff") format("woff");
}

/** Barlow Regular **/
@font-face {
    font-family: "Barlow";
    font-weight: 400;
    font-style: normal;
    src: url("Barlow-Regular.woff2") format("woff2"),
         url("Barlow-Regular.woff") format("woff");
}

/** Barlow Regular-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 400;
    font-style: italic;
    src: url("Barlow-Italic.woff2") format("woff2"),
         url("Barlow-Italic.woff") format("woff");
}

/** Barlow Medium **/
@font-face {
    font-family: "Barlow";
    font-weight: 500;
    font-style: normal;
    src: url("Barlow-Medium.woff2") format("woff2"),
         url("Barlow-Medium.woff") format("woff");
}

/** Barlow Medium-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 500;
    font-style: italic;
    src: url("Barlow-MediumItalic.woff2") format("woff2"),
         url("Barlow-MediumItalic.woff") format("woff");
}

/** Barlow SemiBold **/
@font-face {
    font-family: "Barlow";
    font-weight: 600;
    font-style: normal;
    src: url("Barlow-SemiBold.woff2") format("woff2"),
         url("Barlow-SemiBold.woff") format("woff");
}

/** Barlow SemiBold-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 600;
    font-style: italic;
    src: url("Barlow-SemiBoldItalic.woff2") format("woff2"),
         url("Barlow-SemiBoldItalic.woff") format("woff");
}

/** Barlow Bold **/
@font-face {
    font-family: "Barlow";
    font-weight: 700;
    font-style: normal;
    src: url("Barlow-Bold.woff2") format("woff2"),
         url("Barlow-Bold.woff") format("woff");
}

/** Barlow Bold-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 700;
    font-style: italic;
    src: url("Barlow-BoldItalic.woff2") format("woff2"),
         url("Barlow-BoldItalic.woff") format("woff");
}

/** Barlow ExtraBold **/
@font-face {
    font-family: "Barlow";
    font-weight: 800;
    font-style: normal;
    src: url("Barlow-ExtraBold.woff2") format("woff2"),
         url("Barlow-ExtraBold.woff") format("woff");
}

/** Barlow ExtraBold-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 800;
    font-style: italic;
    src: url("Barlow-ExtraBoldItalic.woff2") format("woff2"),
         url("Barlow-ExtraBoldItalic.woff") format("woff");
}

/** Barlow Black **/
@font-face {
    font-family: "Barlow";
    font-weight: 900;
    font-style: normal;
    src: url("Barlow-Black.woff2") format("woff2"),
         url("Barlow-Black.woff") format("woff");
}

/** Barlow Black-Italic **/
@font-face {
    font-family: "Barlow";
    font-weight: 900;
    font-style: italic;
    src: url("Barlow-BlackItalic.woff2") format("woff2"),
         url("Barlow-BlackItalic.woff") format("woff");
}