<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" 
    content="width=device-width, initial-scale=1, maximum-scale=6, minimum-scale=1.0, user-scalable=1">
    <!-- Facebook sharing information tags -->
    <meta property="og:title" content="{subject}">
    
    <title>{subject}</title>

    <style type="text/css">
      body {
        width: 100% !important;
        -webkit-text-size-adjust: 100%;
        -ms-text-size-adjust: 100%;
        margin: 0;
        padding: 0;
        background: #f1f1f1;
      }
      a {
        color: #005EB0;
      }
      h1, h2, h3, p {
        margin: 1em 0;
      }
      pre {
        overflow-x: scroll;
        max-width: 455px;
        background-color: #f1f1f1;
        padding: 15px;
      }
      img{
        border:0;
        height:auto;
        line-height:100%;
        outline:none;
        text-decoration:none;
      }
      table td{
        border-collapse:collapse;
      }
      #outer-table{
        height:100% !important;
        margin:0;
        padding:0;
        width:100% !important;
        background-color: #f1f1f1;
      }
      #inner-table{
        width: 100%;
        max-width:600px;
        background-color: #ffffff; 
        border-width: 1px; 
        border-color: #DADEDE;
      }

      table.stripped {
        border:1px solid #DADEDE;
        border-bottom: 0px;
        width:100%;
      }
      .stripped tr td{
        border-bottom: 1px solid #DADEDE;
    
      }

      .stripped tr:last-child td{
        border-bottom: 1px solid #DADEDE !important;
      }

      .stripped tr td.label{
        border-bottom: 1px solid #DADEDE;
      }   
      .header-logo{
        max-width:100%;
      }
      #email-footer {
        background-color: #414141;
        color: white;
        width: 100%;
        padding:20px;
        
      }
      #email-footer a {
          color: #ffffff;
        }
      #email-header {
        background-color: #FFFFFF;
        width:100%;
        color: #fff;
      }

     
      @media only screen and (min-device-width: 601px) {
        #email-body{
          padding:20px;
        }
        .stripped tr td{
          padding:10px;
        }
        .stripped tr td.label{
          min-width: 130px !important;
        }
      }

      @media only screen and (min-device-width: 581px) {
        .stripped tr td{
          padding:10px;
        }
      }
    </style>
  </head>
  <body>
    <!--[if (gte mso 9)|(IE)]>
    <!-- Outer Table -->
    <table id="outer-table" cellpadding="10" cellspacing="0" border="0" align="center">
      <tr>
        <td style="font-family: Helvetica, Arial, sans-serif; font-size: 14px; color: #535353;" align="center">
          <table id="inner-table" class="content" cellpadding="0" cellspacing="0" align="center">
            <tr>
              <td>
                <!-- Email header -->
                <table id="email-header" border="0" cellpadding="25" cellspacing="0" width="100%" class="header-table">
                  <tr>
                    <td valign="middle" align="center">
                      <a href="#{root}">
                        <img class="header-logo" src="{root}/graphics/email-logo.png" alt="{company_name}">
                      </a>
                    </td>
                  </tr>
                </table>
                <!-- Email header end -->
                <table id="email-body" width="100%" cellpadding="10" cellspacing="0" align="center">
                  <tr>
                    <td align="left">
                      <!-- Message Body -->
                      <h2>Voucher Details</h2>
                      <table cellpadding="5" cellspacing="0" width="100%" class="stripped">
                        <tr>
                          <td class="label" width="150"><strong>Voucher Name:</strong></td>
                          <td>{voucher_name}</td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Voucher Value:</strong></td>
                          <td>${amount}</td>
                        </tr>                              
                      </table>
                      <h2>Purchaser's Details</h2>
                      <table cellpadding="5" cellspacing="0" width="100%" class="stripped">
                        <tr>
                          <td class="label" width="150"><strong>First Name:</strong></td>
                          <td>{purchaser_first_name}</td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Last Name:</strong></td>
                          <td>{purchaser_last_name}</td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Email Address:</strong></td>
                          <td><a href="mailto:{purchaser_email}">{purchaser_email}</a></td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Phone/Mobile:</strong></td>
                          <td>{purchaser_phone}</td>
                        </tr>                              
                      </table>
                      <h2>Recipient's Details</h2>
                      <table cellpadding="5" cellspacing="0" width="100%" class="stripped">
                        <tr>
                          <td class="label" width="150"><strong>Name:</strong></td>
                          <td>{recipient_name}</td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Name on Voucher:</strong></td>
                          <td>{recipient_name_on_voucher}</td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Message on Voucher:</strong></td>
                          <td>{message}</td>
                        </tr>                              
                      </table>
                      <h2>Delivery Details</h2>
                      <table cellpadding="5" cellspacing="0" width="100%" class="stripped">
                        <tr>
                          <td class="label" width="150"><strong>Type:</strong></td>
                          <td>{delivery_option}</td>
                        </tr>
                        <tr>
                          <td class="label" width="150"><strong>Email:</strong></td>
                          <td>{delivery_email}</td>
                        </tr> 
                        <tr>
                          <td class="label" width="150"><strong>Post:</strong></td>
                          <td>{delivery_post}</td>
                        </tr>                             
                      </table>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>
          </table>
          <!-- End Outer Table -->
    <![endif]-->
  </body>
</html>